h2 {
    color: lightgrey;
    text-align: center;
}
h2 {
    margin-top: 5%;
}
.info-section {
    margin-top: 30px;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(43, 43, 43);
}

.info-section input,
.info-section button {
    width: 386px;
    padding: 7px 0;
    margin: 7px;
}